<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ProjectName" value="WavoMspNeulionIntegration" />
    <add key="TestDataSheetPath-WavoMspNeulionIntegration" value="DataAccess\TestData.xlsx" />
    <add key="TestResultPath" value="C:\\Workspace\\TestResults\\APITesting\\NeulionMspIntegration\\NeulionMSPReport-" />
    <add key="TestCaseSheetPath" value="C://Workspace/Automation/Projects/APITesting/APITesting/DataAccess/TC.xlsx" />
  </appSettings>
</configuration>