<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ProjectName" value="WavoMspNeulionIntegration" />
    <add key="TestDataSheetPath-WavoMspNeulionIntegration" value="DataAccess\TestData.xlsx" />
    <add key="TestResultPath" value="C:\\Workspace\\TestResults\\APITesting\\NeulionMspIntegration\\NeulionMSPReport-" />
    <add key="TestCaseSheetPath" value="C://Workspace/Automation/Projects/APITesting/APITesting/DataAccess/TC.xlsx" />
    <add key="AppId" value="6" />
    <add key="SourceId" value="14" />
    <add key="HashSalt" value="-1+0+3*5#?7" />
  </appSettings>
</configuration>